*.py[cod]
*.so
*.egg
*.egg-info

__pycache__

dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

.idea
.vscode
.env

bower_components
node_modules
libs


*.mo
*.pot

.python-version