*.py[cod]
__pycache__

*.so
*.mo

*.DS_Store
.AppleDouble
.LSOverride

dist/
build/
parts/
var/
sdist/

.venv/
.eggs/
*.egg-info/

.idea/
.vscode/

.env
.python-version

bower_components
node_modules

.coverage
coverage.xml