aiohttp
aiohttp-jinja2
aiohttp-session
aiohttp-devtools
aiojobs

aiodns
cchardet
click
cryptography
isort

motor
trafaret
jinja2
WTForms
yattag

pytest
pytest-cov
python-socketio
pytest-aiohttp
pytest-asyncio